// Guide style
.guide-wrap{
    padding: 20px;

    & > *{
        margin-bottom: 15px;
    }
    &.range-slider-wrap{
        height: 100px;
    }
}
// main style
main{
    padding-left: $asideWidht;
    padding-top: 60px;
}
.links .table{
    margin: $defaultIndent 0;
}

.generated-link-form{

    .form-control{
        flex-grow: 1;
        margin-right: 16px;
    }
    .icon{
        font-size: 16px;
        padding-right: 12px;
    }
}